<a href="https://colab.research.google.com/github/aliendaysxz/exercises/blob/main/~_Hobbies_Problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [151]:
import numpy as np
import pandas as pd

In [110]:
couples = pd.DataFrame({
    'man': [
        ['fishing', 'biking', 'reading'],
        ['hunting', 'mudding', 'fishing'],
        ['reading', 'movies', 'running'],
        ['running', 'reading', 'biking', 'mudding'],
        ['movies', 'reading', 'yodeling']
    ],
    'woman': [
        ['biking', 'reading', 'movies'],
        ['fishing', 'drinking'],
        ['knitting', 'reading'],
        ['running', 'biking', 'fishing', 'movies'],
        ['movies']
    ]
})
print(couples)

                                   man                               woman
0           [fishing, biking, reading]           [biking, reading, movies]
1          [hunting, mudding, fishing]                 [fishing, drinking]
2           [reading, movies, running]                 [knitting, reading]
3  [running, reading, biking, mudding]  [running, biking, fishing, movies]
4          [movies, reading, yodeling]                            [movies]

In [143]:
hobbies_shared = couples.apply(lambda x: np.intersect1d(x.loc['man'], x.loc['woman']), axis=1)

In [179]:
mans = couples.apply(lambda x: np.setdiff1d(x.loc['man'], x.loc['woman']), axis=1)
print(mans)

0              [fishing]
1     [hunting, mudding]
2      [movies, running]
3     [mudding, reading]
4    [reading, yodeling]
dtype: object

In [180]:
womans = couples.apply(lambda x: np.setdiff1d(x.loc['woman'], x.loc['man']), axis=1)
print(womans)

0             [movies]
1           [drinking]
2           [knitting]
3    [fishing, movies]
4                   []
dtype: object

In [145]:
hobbies_not_shared = pd.concat([mans, womans], axis=1, keys=['man', 'woman'])
print(hobbies_not_shared, '\n')
print(hobbies_shared)

                   man              woman
0            [fishing]           [movies]
1   [hunting, mudding]         [drinking]
2    [movies, running]         [knitting]
3   [mudding, reading]  [fishing, movies]
4  [reading, yodeling]                 []

0    [biking, reading]
1            [fishing]
2            [reading]
3    [biking, running]
4             [movies]
dtype: object

In [113]:
i = np.intersect1d(couples['man'].iloc[0], couples['woman'].iloc[0])
print(i)

In [177]:
#ALTERNATIVO
sets = couples.applymap(set)
print(sets)

                                   man                               woman
0           {fishing, reading, biking}           {movies, reading, biking}
1          {hunting, fishing, mudding}                 {fishing, drinking}
2           {running, movies, reading}                 {reading, knitting}
3  {running, reading, biking, mudding}  {running, movies, fishing, biking}
4          {movies, reading, yodeling}                            {movies}

In [178]:
woman_not_man = sets.diff(axis=1, periods=1).drop(columns='man')
print(woman_not_man)

               woman
0           {movies}
1         {drinking}
2         {knitting}
3  {fishing, movies}
4                 {}

In [166]:
man_not_woman = sets.diff(axis=1, periods=-1).drop(columns='woman')
print(man_not_woman)

                   man
0            {fishing}
1   {hunting, mudding}
2    {running, movies}
3   {mudding, reading}
4  {reading, yodeling}

In [171]:
shared = pd.concat([woman_not_man, man_not_woman], axis=1).applymap(list)
print(shared)

               woman                  man
0           [movies]            [fishing]
1         [drinking]   [hunting, mudding]
2         [knitting]    [running, movies]
3  [fishing, movies]   [mudding, reading]
4                 []  [reading, yodeling]