<a href="https://colab.research.google.com/github/aliendaysxz/exercises/blob/main/~Cradle_Robbers_Problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import numpy as np
import pandas as pd

In [61]:
couples = pd.DataFrame({
    'person1': ['Cody', 'Dustin', 'Peter', 'Adam', 'Ryan', 'Brian', 'Jordan', 'Gregory'],
    'person2': ['Sarah', 'Amber', 'Brianna', 'Caitlin', 'Rachel', 'Kristen', 'Alyssa', 'Morgan']
}).convert_dtypes()

ages = pd.DataFrame({
    'person': ['Adam', 'Alyssa', 'Amber', 'Brian', 'Brianna', 'Caitlin', 'Cody', 'Dustin', 'Gregory', 'Jordan',
               'Kristen', 'Rachel', 'Morgan', 'Peter', 'Ryan', 'Sarah'],
    'age': [62, 40, 41, 50, 65, 29, 27, 39, 42, 39, 33, 61, 43, 55, 28, 36]
}).convert_dtypes()

print(couples,'\n')
print(ages)

   person1  person2
0     Cody    Sarah
1   Dustin    Amber
2    Peter  Brianna
3     Adam  Caitlin
4     Ryan   Rachel
5    Brian  Kristen
6   Jordan   Alyssa
7  Gregory   Morgan

     person  age
0      Adam   62
1    Alyssa   40
2     Amber   41
3     Brian   50
4   Brianna   65
5   Caitlin   29
6      Cody   27
7    Dustin   39
8   Gregory   42
9    Jordan   39
10  Kristen   33
11   Rachel   61
12   Morgan   43
13    Peter   55
14     Ryan   28
15    Sarah   36

In [159]:
a = pd.merge(
    left=couples,
    right=ages,
    how='left',
    left_on='person1',
    right_on='person').drop(columns=['person2', 'person', 'age2', 'age'])
print(a)

   person1 age1
0     Cody   27
1   Dustin   39
2    Peter   55
3     Adam   62
4     Ryan   28
5    Brian   50
6   Jordan   39
7  Gregory   42

In [160]:
b = pd.merge(
    left=couples,
    right=ages,
    how='left',
    left_on='person2',
    right_on='person').drop(columns=['person1', 'person', 'age1', 'age'])
print(b)

   person2 age2
0    Sarah   36
1    Amber   41
2  Brianna   65
3  Caitlin   29
4   Rachel   61
5  Kristen   33
6   Alyssa   40
7   Morgan   43

In [161]:
c = pd.concat([a,b], axis=1)
print(a,'\n')
print(b,'\n')
print(c)

   person1 age1
0     Cody   27
1   Dustin   39
2    Peter   55
3     Adam   62
4     Ryan   28
5    Brian   50
6   Jordan   39
7  Gregory   42

   person2 age2
0    Sarah   36
1    Amber   41
2  Brianna   65
3  Caitlin   29
4   Rachel   61
5  Kristen   33
6   Alyssa   40
7   Morgan   43

   person1 age1  person2 age2
0     Cody   27    Sarah   36
1   Dustin   39    Amber   41
2    Peter   55  Brianna   65
3     Adam   62  Caitlin   29
4     Ryan   28   Rachel   61
5    Brian   50  Kristen   33
6   Jordan   39   Alyssa   40
7  Gregory   42   Morgan   43

In [283]:
x = c.loc[(a['age1'] - b['age2'] >= 20) | (b['age2'] - a['age1'] >= 20) & (a['age1'] < 30) | (b['age2'] < 30)]
print(x)

  person1 age1  person2 age2
3    Adam   62  Caitlin   29
4    Ryan   28   Rachel   61

In [73]:
#ALTERNATIVO
d = ages.set_index('person').age
print(d,'\n')
print(d.loc[couples.person1])

person
Adam       62
Alyssa     40
Amber      41
Brian      50
Brianna    65
Caitlin    29
Cody       27
Dustin     39
Gregory    42
Jordan     39
Kristen    33
Rachel     61
Morgan     43
Peter      55
Ryan       28
Sarah      36
Name: age, dtype: Int64

person
Cody       27
Dustin     39
Peter      55
Adam       62
Ryan       28
Brian      50
Jordan     39
Gregory    42
Name: age, dtype: Int64

In [74]:
couples['age1'] = d.loc[couples.person1].to_numpy()
couples['age2'] = d.loc[couples.person2].to_numpy()
print(couples)

   person1  person2 age1 age2
0     Cody    Sarah   27   36
1   Dustin    Amber   39   41
2    Peter  Brianna   55   65
3     Adam  Caitlin   62   29
4     Ryan   Rachel   28   61
5    Brian  Kristen   50   33
6   Jordan   Alyssa   39   40
7  Gregory   Morgan   42   43

In [224]:
cr1 = couples.loc[(couples.age1 - couples.age2 >= 20) & (couples.age2 < 30), 'person1']
cr2 = couples.loc[(couples.age2 - couples.age1 >= 20) & (couples.age1 < 30), 'person2']
cradle_robbers = pd.concat([cr1, cr2])
print(cradle_robbers)

3      Adam
4    Rachel
dtype: string